.container{
}

.footer{
  width: 100%;
  font-weight: bold;
  font-size:14px;
  letter-spacing: 2px;
  line-height: 60px;
  background: rgba(245, 245, 245, 0.5);
  position: absolute;
  bottom: 0;

}
